out/
obj/
build/
build-in/
OUT/
Listings/
DebugConfig/
OBJ/
Objects/

old_/
_Download/

*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.o
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.i
*.d
*.tra
*.dep

*.iex
*.htm

*.map
